ion-item {
    margin-bottom: 10px;
    border-radius: 10px;
    margin: 10px;
    --highlight-color-focused: var(--ion-color-primary) !important;
    --highlight-color-valid: var(--ion-color-primary) !important;
}