<ion-header>


  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Log In </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div>

    <ion-item>
      <ion-label position="floating">
        Enter Your Email
      </ion-label>
      <ion-input [(ngModel)]="email">

      </ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating" type="email">
        Enter Your Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="password">

      </ion-input>
    </ion-item>
    
    
  </div>


  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-button (click)="logIn()" class="customButton">Log In </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="signUp()" class="customButton">Sign Up </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
