<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button *ngIf="id==0"></ion-menu-button>
            <ion-back-button *ngIf="id>0"></ion-back-button>
        </ion-buttons>
        <ion-title>Level3</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="id==0" div>
        <div class="card">
            <div class="card-number">
                <p>Card Number</p>
                <h3>{{shared.cardNumber}}</h3>
            </div>
            <div class="container">
                <div class="item">
                    <div>CVV : {{shared.cvv}}</div>
                    <div>Balance: {{shared.balance}}</div>
                </div>
                <div class="item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/RuPay.svg/383px-RuPay.svg.png"
                        alt="" srcset="">
                </div>
            </div>
        </div>

        <center>
            <h3>Your Tasks</h3>
            <ion-card>
                <ion-card-content>
                    Pay Rs 10 to UPI ID 9876543210@apl
                </ion-card-content>
                <ion-button (click)="nextpage(id)" expand="block">Start </ion-button>
            </ion-card>
        </center>
    
    </div>
    
    <div *ngIf="id==1" div level3>
       
        <ion-item>
            <ion-label position="floating">UPI ID</ion-label>
            <ion-input [(ngModel)]="upiid"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Amount</ion-label>
            <ion-input [(ngModel)]="amount"></ion-input>
        </ion-item>

        <ion-button right (click)="nextpage(id)" expand="block">Pay</ion-button>

    </div>
    
    <div *ngIf="id==2" div level3>

        <ion-item>
            <ion-label position="floating">OTP</ion-label>
            <ion-input [(ngModel)]="otp"></ion-input>
        </ion-item>
        
        <ion-button left (click)="cancel()" expand="block">cancel</ion-button>
        <ion-button right (click)="checkOTP()" expand="block">submit otp</ion-button>
        <center>
            <div>
                <small>Otp is Sent Successfully</small>
            </div>
            <small *ngIf="shared.otptime>9">00:{{shared.otptime}}</small>
            <small *ngIf="shared.otptime<10">00:0{{shared.otptime}}</small>
        </center>
    </div>

</ion-content>