<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>level3</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="timer">
        <h4> Count down timer </h4>
        <span id="days"> {{daysToDday}} </span>Day(s)
        <span id="hours"> {{hoursToDday}} </span>Hrs 
        <span id="minutes"> {{minutesToDday}} </span>Min
        <span id="seconds"> {{secondsToDday}} </span>S
    </div>

    <ion-label>{{time}}</ion-label> 
    <div *ngIf="currentView == Instructions" div>
        <ion-row>Now here you see different qans that will help you to understand how the financial services work ........</ion-row>
        <ion-row> Click to start the Level </ion-row>

        <ion-button (click)="startLevel()" expand="block">Start</ion-button>
    </div>


    <div *ngIf="currentView == showCardDetails" div>
        <div class="card">
            <div class="card-number">
                <p>Card Number</p>
                <h3>{{shared.cardNumber}}</h3>
            </div>
            <div class="container">
                <div class="item">
                    <div>CVV : {{shared.cvv}}</div>
                    <div>Balance: {{shared.balance}}</div>
                </div>
                <div class="item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/RuPay.svg/383px-RuPay.svg.png" alt="" srcset="">
                </div>
            </div>
        </div>
        <!-- <ion-row>Your Virtual Details: </ion-row>
        <ion-row>Card Number: </ion-row>
        <ion-row> CVV: {{shared.cvv}} </ion-row>
        <ion-row>  </ion-row> -->

        <center><small style="color: green;"> Your Task:<br> Virtual pay Rs 10 to UPI ID XXX@apl</small> </center>
        <ion-button (click)="startTask()" expand="block">Start </ion-button>
    </div>


    <div *ngIf="currentView == inputTransactionDetails" div level3>
        <ion-item>
            <ion-label position="floating">
                Enter Your Virtual Card Number
            </ion-label>
            <ion-input>

            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                Enter Your CVV
            </ion-label>
            <ion-input>

            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                Enter Your UPI ID
            </ion-label>
            <ion-input>

            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">
                Enter Money To Transfer
            </ion-label>
            <ion-input>

            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                Enter Your mobile Number
            </ion-label>
            <ion-input>

            </ion-input>
        </ion-item>

        <ion-button (click)="pay()" expand="block">Pay Virtual Money </ion-button>
    </div>


    <div *ngIf="currentView == inputOTP" div level3>


        <ion-item>
            <ion-label position="floating">
                Enter Your OTP
            </ion-label>
            <ion-input>

            </ion-input>
        </ion-item>
        <ion-button (click)="checkOTP()" expand="block">submit otp</ion-button>
        <center>
            <div>
                <small>Otp is Sent Successfully</small>
            </div>
            <small>00:{{time}}</small>
        </center>
    </div>

</ion-content>