<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="id!=0"></ion-back-button>
            <ion-menu-button *ngIf="id==0"></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="id==0 || id>max_mcqs_no">Level 2</ion-title>
        <ion-title *ngIf="id!=0 && id<=max_mcqs_no">Question {{id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-label>{{timer}}</ion-label>

    <div *ngIf="id==0 && id<=max_mcqs_no" div>
        <ion-row>Now here you see different MCQ that will help you to Solve to Test you Knowledge ........</ion-row>
        <ion-row>
            <p>Click to start the Level </p>
        </ion-row>

        <ion-button (click)="nextques(id)" expand="block">Start</ion-button>
    </div>

    <div *ngIf="id!=0 && id<=max_mcqs_no">

        <ion-grid>

            <ion-row style="margin:10px 0px; font-weight: bold;">{{shared.mcqs[id-1].question}}</ion-row>
            <ion-row size="12" *ngFor="let entry of shared.mcqs[id-1].option,index as i">
                <ion-col (click)="checked(i)" size="1">
                    <ion-checkbox [checked]="shared.is_checked[this.id-1][i]"></ion-checkbox>
                </ion-col>
                <ion-col>
                    <ion-label (click)="checked(i)">{{entry}}</ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <!-- <ion-button (click)="prevques()" expand="block">Prev</ion-button> -->
                <ion-button (click)="nextques(id)" expand="block">Next</ion-button>
            </ion-row>

        </ion-grid>

    </div>

    <div *ngIf="id>max_mcqs_no">

        <ion-grid>

            <ion-row style="margin:10px 0px;">You Have Completed All the MCQ</ion-row>
            <ion-row style="margin:20px 0px; font-weight: bold;"> Your Score is {{shared.mcq_score}}</ion-row>
            <ion-row style="margin:20px 0px;">Proceed to Level 3</ion-row>
            <ion-row>
                <ion-button (click)="openpage()" expand="block">Level 3</ion-button>
            </ion-row>

        </ion-grid>

    </div>

</ion-content>