<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title slot="start" *ngIf="id==0 || id>max_mcqs_no">Level 2</ion-title>
        <ion-title slot="start" *ngIf="id!=0 && id<=max_mcqs_no">Question {{id}}</ion-title>
        <ion-title *ngIf="id>0 && id<=max_mcqs_no" slot="end">{{shared.min<=9?'0':''}}{{shared.min}}:{{shared.sec<=9?'0':''}}{{shared.sec}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid *ngIf="id==0 && id<=max_mcqs_no" div>
        <ion-row>Now here you see different MCQ that will help you to Solve to Test you Knowledge ........</ion-row>
        <ion-row>
            <p>Click to start the Level </p>
        </ion-row>

        <ion-button right (click)="nextques(id)" expand="block">Start</ion-button>
    </ion-grid>

    <ion-grid  *ngIf="id!=0 && id<=max_mcqs_no">

        <ion-row style="margin:10px 0px; font-weight: bold;">{{shared.mcqs[id-1].question}}</ion-row>
        <ion-row size="12" *ngFor="let entry of shared.mcqs[id-1].option,index as i">
            <ion-col (click)="checked(i)" size="1">
                <ion-checkbox [checked]="shared.is_checked[this.id-1][i]"></ion-checkbox>
            </ion-col>
            <ion-col>
                <ion-label (click)="checked(i)">{{entry}}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-button left (click)="prevques()" expand="block">Prev</ion-button>
            <ion-button right *ngIf="id<max_mcqs_no" (click)="nextques(id)" expand="block">Next</ion-button>
            <ion-button right *ngIf="id==max_mcqs_no" (click)="nextques(id)" expand="block">Finish</ion-button>
        </ion-row>

    </ion-grid>

    <ion-grid *ngIf="id>max_mcqs_no">

        <img class="congrts" src="../../assets/pngwing.com.png" height="200px" width="200px">
        <ion-row center style="margin:20px 0px; font-size: 16px;"> You have successfully completed Level 2</ion-row>
        <ion-row center style="margin:20px 0px; font-weight: bold;"> Your Score is {{shared.mcq_score}}</ion-row>
        <ion-row center style="margin:20px 0px;">Now , Proceed to Level 3 for more Fun</ion-row>
        <ion-row>
            <ion-button right (click)="openpage()" expand="block">Level 3</ion-button>
        </ion-row>
    </ion-grid>

</ion-content>