<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button *ngIf="id==0 || id>max_passage_no"></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="id==0 || id>max_passage_no">Level 1</ion-title>
        <ion-title *ngIf="id!=0 && id<=max_passage_no">Passage {{id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="id==0 && id<=max_passage_no" class="level">
        <h1>LEVEL 1</h1>
        <ion-row>Now here you see different passage that will help you to understand how the financial services work ........</ion-row>
        <ion-row>
            <p> Click to start the Level </p>
        </ion-row>

        <ion-button right (click)="nextques(id)" expand="block">Start</ion-button>
    </div>
    
    <ion-grid *ngIf="id!=0 && id<=max_passage_no">
        <div div>
            <div [innerHTML]="shared.passage[id-1].Desc"></div>
        </div>
        <ion-row>
            <!-- <ion-button (click)="prevques()" expand="block">Prev</ion-button> -->
            <ion-button left [disabled]="flag" (click)="prevques()" expand="block">Prev</ion-button>
            <ion-button right [disabled]="flag" *ngIf="id<max_passage_no" (click)="nextques(id)" expand="block">Next</ion-button>
            <ion-button right [disabled]="flag" *ngIf="id==max_passage_no" (click)="nextques(id)" expand="block">Finish</ion-button>
        </ion-row>

    </ion-grid>

    <ion-grid *ngIf="id>max_passage_no">

        <img class="congrts" src="../../assets/pngwing.com.png" height="200px" width="200px">
        <ion-row center style="margin:20px 0px; font-size: 16px;"> You have successfully completed Level 1</ion-row>
        <!-- <ion-row center style="margin:20px 0px; font-weight: bold;"> Your Score is {{shared.mcq_score}}</ion-row> -->
        <ion-row center style="margin:20px 0px;">Now , Proceed to Level 2 for more Fun</ion-row>
        <ion-row>
            <ion-button right (click)="openpage()" expand="block">Level 2</ion-button>
        </ion-row>
    </ion-grid>

</ion-content>