<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="id!=0"></ion-back-button>
            <ion-menu-button *ngIf="id==0"></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="id==0 || id>max_ques_no">Level 1</ion-title>
        <ion-title *ngIf="id!=0 && id<=max_ques_no">Question {{id}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="id==0 && id<=max_ques_no" div>
        <ion-row>Now here you see different qans that will help you to understand how the financial services work ........</ion-row>
        <ion-row>
            <p> Click to start the Level </p>
        </ion-row>

        <ion-button right (click)="nextques(id)" expand="block">Start</ion-button>
    </div>

    <div *ngIf="id!=0 && id<=max_ques_no">

        <ion-grid>
            <div div>
                <span style="font-weight: bold;">{{shared.qans[id-1].question}}</span>
                <span> {{shared.qans[id-1].answer}}</span>
            </div>
            <ion-row>
                <!-- <ion-button (click)="prevques()" expand="block">Prev</ion-button> -->
                <ion-button right [disabled]="flag" (click)="nextques(id)" expand="block">Next</ion-button>
            </ion-row>

        </ion-grid>

    </div>

    <!-- <div *ngIf="id>max_ques_no">

        <ion-grid style="text-align: center;">

            <ion-row style="margin:10px 0px; font-weight: bold;"></ion-row>
            <ion-row style="margin:10px 0px; font-weight: bold;font-size:20px;"> ! </ion-row>

            <ion-row>
                <ion-button (click)="openpage()" expand="block">Level 2</ion-button>
            </ion-row>

        </ion-grid>

    </div> -->

</ion-content>