<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> Home </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="shared.user.userType=='2'" [fullscreen]="true">
  <ion-card class="card">
    <ion-card-title><u>Level 1</u></ion-card-title>
    <ion-card-content>
      Read all the necessary questions and answers about the financial services or transaction you need to know.
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-title><u>Level 2</u></ion-card-title>
    <ion-card-content>
      Solve some MCQ'S
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-title><u>Level 3</u></ion-card-title>
    <ion-card-content>
      Run Simulation.
    </ion-card-content>
  </ion-card>
    <ion-button right (click)="openpage()" expand="block" btn>Start</ion-button>
</ion-content>

<ion-content *ngIf="shared.user.userType=='1'" [fullscreen]="true">
  <ion-card *ngFor="let child of shared.user.childrenId;">
    <ion-card-header>
      {{child}}
    </ion-card-header>
  </ion-card>
</ion-content>