<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="margin-top: 10px; font-weight: bold;">
      Level 1 :
    </ion-row>
    <ion-row>
      Read all the necessary questions and answers about the financial services or transaction you need to know.
    </ion-row>
    <ion-row  style="margin-top: 10px; font-weight: bold;">
      Level 2 :
    </ion-row>
    <ion-row>
      Solve some MCQ
    </ion-row>
    <ion-row  style="margin-top: 10px; font-weight: bold;">
      Level 3 :
    </ion-row>
    <ion-row>
      Run Simulation
    </ion-row>
  </ion-grid>

  <ion-button (click)="openpage()" expand="block">Start</ion-button>
</ion-content>
