ion-menu-button {
    color: var(--ion-color-primary);
}

.cen {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

[child] {
    background-color: var(--ion-color-primary);
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
    box-sizing: border-box;
    height: 150px;
    margin: 10px;
    padding: 10px;
    color: white;
    background: linear-gradient(145deg, #797676, #444242);
    box-shadow: 2px 2px 12px #6c6c6c, -2px -2px 12px #ffffff;
}

.card:first-child {
    background-position: 100% 100%;
    background-color: #1607bb;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(76%2c 96%2c 129%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c410.275C82.011%2c407.79%2c165.695%2c409.186%2c237.769%2c369.976C312.814%2c329.15%2c377.718%2c266.337%2c409.985%2c187.234C441.675%2c109.544%2c426.045%2c23.503%2c412.9%2c-59.366C399.929%2c-141.143%2c378.009%2c-219.359%2c334.334%2c-289.702C284.562%2c-369.864%2c233.725%2c-461.381%2c144.406%2c-491.801C54.404%2c-522.454%2c-39.826%2c-473.02%2c-131.665%2c-448.411C-225.858%2c-423.171%2c-328.951%2c-413.508%2c-399.399%2c-346.081C-472.498%2c-276.117%2c-522.025%2c-176.206%2c-521.783%2c-75.021C-521.551%2c21.962%2c-447.866%2c98.56%2c-398.135%2c181.822C-354.025%2c255.672%2c-321.823%2c341.858%2c-247.213%2c384.67C-173.871%2c426.754%2c-84.519%2c412.836%2c0%2c410.275' fill='%23384760'%3e%3c/path%3e%3cpath d='M1440 857.841C1506.956 855.5609999999999 1582.173 905.002 1636.741 866.135 1691.7359999999999 826.9639999999999 1669.682 739.0360000000001 1694.794 676.361 1718.24 617.843 1777.683 574.298 1778.923 511.27 1780.221 445.28 1740.893 386.36199999999997 1701.5430000000001 333.372 1659.763 277.109 1616.124 203.878 1546.292 198.002 1474.954 191.99900000000002 1430.384 275.588 1365.144 305.06399999999996 1312.319 328.93100000000004 1245.818 315.872 1201.837 353.63 1155.489 393.41999999999996 1134.987 454.627 1121.528 514.211 1107.225 577.532 1103.308 642.988 1122.466 705.013 1143.311 772.502 1170.811 849.197 1234.458 879.8299999999999 1297.83 910.331 1369.711 860.2339999999999 1440 857.841' fill='%236179a2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.card:nth-child(2) {
    background-position: 100% 100%;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M242.15 572.86C401.49 572.37 541.08 460.99 868.86 456.69 1196.63 452.39 1325.17 193.48 1495.56 187.89' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M312.02 592.1C440.31 579.31 519.67 307.18 740.77 305.51 961.87 303.84 955.15 375.51 1169.52 375.51 1383.9 375.51 1489.66 305.74 1598.27 305.51' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M253.91 651.66C387.68 643.95 486.06 400.4 726.9 399.57 967.73 398.74 963.39 469.57 1199.88 469.57 1436.38 469.57 1553.34 399.76 1672.87 399.57' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M184.87 663.47C314.54 647.94 388.3 359.22 607.93 357.01 827.55 354.8 819.46 427.01 1030.98 427.01 1242.51 427.01 1346.84 357.25 1454.04 357.01' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M368.37 627.49C496.5 614.21 574.47 339.56 794.49 337.8 1014.51 336.04 1007.55 407.8 1220.62 407.8 1433.68 407.8 1538.78 338.03 1646.74 337.8' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.card:nth-child(3) {
    background-color: #ff7700;
    background: url('../../assets/Polygon\ Luminary.svg');
    background-size: cover;
}

ion-card-title {
    color: white;
}

ion-card {
    color: white;
    border-radius: 10px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M33 250L283 0L611.5 0L361.5 250z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M279.6 250L529.6 0L760.6 0L510.6 250z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M515.2 250L765.2 0L1065.2 0L815.2 250z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M716.8000000000001 250L966.8000000000001 0L1307.3000000000002 0L1057.3000000000002 250z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M1392 250L1142 0L849.5 0L1099.5 250z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3cpath d='M1160.4 250L910.4000000000001 0L592.4000000000001 0L842.4000000000001 250z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3cpath d='M942.8 250L692.8 0L548.8 0L798.8 250z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3cpath d='M697.1999999999999 250L447.19999999999993 0L400.69999999999993 0L650.6999999999999 250z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3cpath d='M1275.8101280598903 250L1440 85.81012805989022L1440 250z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M0 250L164.18987194010978 250L 0 85.81012805989022z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.add-child {
    margin-left: 30px;
    margin-right: 30px;
    --highlight-color-valid: var(--ion-color-primary) !important;
}

.add-child2 {
    margin-left: 30px;
    margin-right: 30px;
    --highlight-color-valid: var(--ion-color-primary) !important;
}

[childCard] {
    box-shadow: 8px 8px 16px #c7c7c7, -8px -8px 16px #f9f9f9;
}