<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> Home </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="shared.user.userType=='2'" [fullscreen]="true">
    <ion-card class="card">
        <ion-card-title><u>Level 1</u></ion-card-title>
        <ion-card-content>
            Read all the necessary questions and answers about the financial services or transaction you need to know.
        </ion-card-content>
    </ion-card>
    <ion-card class="card">
        <ion-card-title><u>Level 2</u></ion-card-title>
        <ion-card-content>
            Solve some MCQ'S
        </ion-card-content>
    </ion-card>
    <ion-card class="card">
        <ion-card-title><u>Level 3</u></ion-card-title>
        <ion-card-content>
            Run Simulation.
        </ion-card-content>
    </ion-card>
    <ion-button right (click)="openpage()" expand="block">Start</ion-button>
</ion-content>

<ion-content *ngIf="shared.user.userType=='1'" [fullscreen]="true">
    <ion-card *ngFor="let child of shared.user.childrenId;index as i" childCard>
        <ion-card-header>
            <h3 h3>{{child}}</h3>
            <ion-button *ngIf="is_shown[i]==0" (click)="showprogress(i)" btn>
                <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="is_shown[i]==1" (click)="is_shown[i]=1-is_shown[i]" btn>Hide Progress</ion-button>
        </ion-card-header>
        <!-- loading  starts -->
        <ion-grid *ngIf="load">
            <ion-row>
                <ion-col class="ion-text-center" size="6">
                    <h2>
                        Level 1
                    </h2>
                    <div class="ion-justify-content-center">
                        <span *ngIf="progress[i].length!=0" meter>0</span><span meter1>/0</span>
                    </div>

                </ion-col>

                <ion-col class="ion-text-center" size="6">

                    <h2>
                        Level 2
                    </h2>
                    <div class="ion-justify-content-center">
                        <span *ngIf="progress[i].length!=0" meter>0</span><span meter1>/0</span>
                    </div>


                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center">
                    <h2>
                        Level 3
                    </h2>
                    <div class="ion-justify-content-center" *ngIf="is_start[i]==1">
                        <span meter3 *ngIf="progress[i]['level3']">Completed</span>
                        <span meter3 *ngIf="!progress[i]['level3']">Not Completed</span>
                    </div>
                    <div class="ion-justify-content-center" *ngIf="is_start[i]==0">
                        <span meter3>Not Started</span>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>
        <!-- if loading stops -->
        <ion-grid *ngIf="is_shown[i]==1">
            <ion-row>
                <ion-col class="ion-text-center" size="6">
                    <h2>
                        Level 1
                    </h2>
                    <div class="ion-justify-content-center" *ngIf="is_start[i]==1">
                        <span *ngIf="progress[i].length!=0" meter>{{progress[i]['level1'].read}}</span><span meter1>/{{progress[i]['level1'].totatQuestions}}</span>
                    </div>
                    <div class="ion-justify-content-center" *ngIf="is_start[i]==0">
                        <span meter3>Not Started</span>
                    </div>
                </ion-col>

                <ion-col class="ion-text-center" size="6">

                    <h2>
                        Level 2
                    </h2>
                    <div class="ion-justify-content-center" *ngIf="is_start[i]==1">
                        <span *ngIf="progress[i].length!=0" meter>{{progress[i]['level2'].correct}}</span><span meter1>/{{progress[i]['level2'].totatQuestions}}</span>
                    </div>
                    <div class="ion-justify-content-center" *ngIf="is_start[i]==0">
                        <span meter3>Not Started</span>
                    </div>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center">
                    <h2>
                        Level 3
                    </h2>
                    <div class="ion-justify-content-center" *ngIf="is_start[i]==1">
                        <span meter3 *ngIf="progress[i]['level3']">Completed</span>
                        <span meter3 *ngIf="!progress[i]['level3']">Not Completed</span>
                    </div>
                    <div class="ion-justify-content-center" *ngIf="is_start[i]==0">
                        <span meter3>Not Started</span>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>

    </ion-card>
    <center>
        <ion-button *ngIf="flag==false " (click)="flag=true ">Click to add more child</ion-button>
        <ion-button *ngIf="flag==true " (click)="flag=false ">Click to cancel</ion-button>
    </center>
    <div>
        <ion-item *ngIf="flag==true " class="add-child">
            <ion-label position="floating ">
                Child Email:
            </ion-label>
            <ion-input [(ngModel)]="ch ">
            </ion-input>
        </ion-item>
        <ion-item lines="none" class="add-child2">
            <ion-button *ngIf="flag==true " (click)="addchild() ">Add Child</ion-button>
        </ion-item>
    </div>
</ion-content>